# {{ ansible_managed }}

# lifted from:
# https://forgejo.c3voc.de/voc
# cm/bundlewrap/bundles/voctocore/files/voctomix2-recording-sink.service
#
# dest: /usr/local/lib/systemd/system/voctomix2-recording-sink.service

[Unit]
Description=Voctomix record data

After=videoteam-voctocore.service
Requires=videoteam-voctocore.service
PartOf=videoteam-voctocore.service

StartLimitIntervalSec=1
; Conflicts=xlogout.target

ConditionPathIsReadWrite=/srv/video/{{ org }}/{{ show }}/dv/{{ room_name }}

[Service]
User={{ user_name }}
Group={{ user_name }}
Type=exec

{% if recording_timezone is defined %}
Environment=TZ={{ recording_timezone }}
{% endif %}

{% if recording_format == 'mpeg2' %}
ExecStart=/usr/local/bin/videoteam-record-timestamp-ts /srv/video/{{ org }}/{{ show }}/dv/{{ room_name }}
{% elif recording_format == 'h.264' %}
ExecStart=/usr/local/bin/videoteam-record-timestamp-mp4 /srv/video/{{ org }}/{{ show }}/dv/{{ room_name }}
{% elif recording_format == 'gst-oc' %}
ExecStart=/home/{{ user_name }}/voctomix-outcasts/record-mixed-av.sh /srv/video/{{ org }}/{{ show }}/dv/{{ room_name }}
{% endif %}

KillMode=mixed
KillSignal=SIGINT

Restart=always
RestartSec=1s
StartLimitInterval=0

[Install]
WantedBy=default.target
# WantedBy=videoteam-voctocore.service
